

body { 
    margin: o;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
  
}

 
.header{
        width: 500px;
        margin: 40px auto 0px;
        color: beige;
        background: #3f259e;
        border: 5px solid  #e7e6eb;
        text-align: justify;
        border-radius: 8px 8px 0px 8px;
      
      }

.container {
    width: 80%;
    margin: 0 auto;
    color: black;
    background: #e7e6eb;
    line-height: 1.5;
    font-size: 25px;
}
.btn{
    color: beige;
    background: #3f259e; 
}

